<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Ticket Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="attendance" style="margin-top:44px;">
  <ion-list *ngIf=" attendance.claimStatus == '0'" >
    <div text-wrap>
      <ion-list-header><h2 style="text-align:center;">These are your e-tickets!</h2></ion-list-header>
        <ion-item>
          <p>Event Name: {{event.eventName}}</p>
          <p>Event Date: {{event.eventDate}}</p>
          <p>Event Time: {{event.eventTime}}</p>
          <p>Ticket Quantity: {{attendance.ticketQuantity}}</p>
          <p>Ticket Price: RM{{attendance.totalPrice}}</p>
          <p>Purchase Time: {{attendance.created_at}}</p>
          <button *ngIf="!isClaimed"ion-button full (click)="claimTicket(attendance.id)" color="secondary">Claim Ticket</button>
        </ion-item>
    </div>
    <p *ngIf="isClaimed">Successfuly Claimed</p>
  </ion-list>
  <ion-list *ngIf=" attendance.claimStatus == '1'" >
      <div text-wrap>
          <ion-list-header>
            <h2 style="text-align:center;">Sorry, you had claimed your &lt;&lt;{{event.eventName}}&gt;&gt; ticket at {{attendance.updated_at}}.</h2>
            <h2 style="text-align:center;"></h2>
          </ion-list-header>
            <!-- <p *ngIf=" attendance.claimStatus == '0'" > Purchase Time: {{attendance.created_at}} </p>
            <p *ngIf=" attendance.claimStatus == '1'" > Sorry, you had claimed your ticket at</p>
            <p>{{attendance.updated_at}}.</p>  -->
      </div>
  </ion-list>
</ion-content>
